@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Syncopate|Open+Sans');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/images/white.jpg');
     height: 100%; 
      background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
@media only screen and (max-width: 768px) {
 body{
     width: 100%;
 }}
body, html {
    height: 100%;
}
#projects{
    height: 1px;
    margin-bottom: 4rem;
}
.nav-wrapper {
    width: 100%;
    overflow: hidden;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: fixed; 
    z-index: 100;
    top: 0;
    /* box-shadow: 0px 0px 50px  rgba(53, 71, 65, 0.797); */
    /* box-shadow:8px 8px 50px black;  
    background-size: cover; */
}
    
.nav-header {
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: .05rem;
    font-size: .8rem;
    padding: 0rem 3rem;
}
.nav-header-item {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    letter-spacing:.07rem;
    padding: 0px 1rem; 
    font-weight: 500;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
}@media only screen and (max-width: 768px) {
    .nav-header-item{
        font-size: 2vh;
        justify-content: space-between;
        padding: 0px;
    }
    .nav-wrapper{
        flex-direction: row;
    justify-content: space-between;
    }
}
.nav-header-item:hover{
    transform: scale(1.3);
    border-bottom: 2px solid #44a2fa;
    text-decoration: none;
}
#nav-header-logo{
    border: solid rgb(0, 0, 0) 1.5px;
    font-size: 1.5em;
    padding: 7px;
    margin: 10px;
}


body {
    background-color: lightgray;
}
.parallax {
    /* The image used */
    background-image: url('/images/landscape.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.scrolled{
    background-color: lightgray;
    transition: 0.3s;
    color: white !important;
    box-shadow: 5px 10px 18px #888888;
    -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.75);
  }

.parallax h4 {
    font-size: 24px;
    color:rgb(255, 255, 255);
    text-align: center;
    line-height: 60px;
    /* font-weight: bold; */
    }
.parallax h1 {
    color: rgba(255, 255, 255);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
    padding-top: 400px;
    }


.introDiv{
    height: 50rem;
}
.introContainer{
    justify-content: center;
    height: 36rem;
    width: 56rem;
    margin:6rem;
    background: linear-gradient(to top left,white, rgb(132, 222, 252),#44a2fa);
    box-shadow: 5px 10px 18px #888888;
    -webkit-box-shadow: 0px 0px 60px rgba(0,0,0,0.75);
}
@media only screen and (max-width: 768px) {
    .introDiv{
        width:90%;
        padding: 0px;
    }
    .introContainer{
        width: 90%;
    }
}
.pageHeaders{
    background:lightgrey;
    font-size: 2em;
    padding: 15px;
}

.active {
    background-color: #4CAF50;
    color: white;
}

nav li a:hover {
    background-color: rgb(56, 53, 80);
}


flexContainer {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}
.projectArticle{
    background-color: rgb(160, 160, 160);
    border-style: solid;
     border-radius: 15px;
     border-color: black;
}
#rightAlign{
    vertical-align: middle;
}
#capstone1logo{
    height:480px;
    width: 480px;
}

.blogNav{
    background-color: rgb(51, 51, 51);
    text-align: center;
    padding: 15px;
}
#projectOverveiw{
    padding: 15px;
}
.button{
    display: flex;
    justify-content: center;
    width: 20rem;
    margin:.2rem;
    margin-bottom: -1rem;
    background-color: transparent;
    padding: .5rem;
    color: black;
    border: 2px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer; 
}
@media only screen and (max-width: 768px) {
    .button{
        width: 10rem;
        font-size: 1.2rem;
    }
}
.button:hover{
    color: white;
    background-color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}
.icon{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.icon:hover{
    transform: scale(1.3);
}
.userImg{
    height: 100%;
    width: 80%;
    margin: 15px;
    padding: 15px;
}
#blogContainer{
     background-color: gray;
     color: whitesmoke;
     border-style: solid;
     border-radius: 15px;
     border-color: black;
     padding: 15px;
     margin: 15px;
}
.blogP{
    font-size: 1.5em;
}
.aboutMe{
    padding: 2rem 10rem;
    font-size: 1.25em;
}
.paraContainer{
    border-bottom: white solid 2px;
    margin: 0% 30%;
}
.headShot{
    margin-top: 6rem;
    height: 25rem;
}
@media only screen and (max-width: 768px) {
    .headShot{
        height: 15rem;
    }
}
.rightSide{
    float: right;
}
.introText{
    color: white;
    font-size: 5rem;
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
}
.leftSide{
    margin: 1rem;
}

.startHere{
    justify-content: center;
    height: 3rem;
    width: 6rem;
    background-color: black;
    color: white;
}
@media only screen and (max-width: 768px) {
    .introText{
        font-size: 2rem;
    }
    .leftSide{
        margin: .3rem;
    }
    }
.contact{
    color: black;
}
.contactLeft{
    margin-left: 4rem;
}
.allContacts{
    padding-bottom: 30px;
}
.bottomContainer{
    background-color: #313738;
    color:  white;
}
.filter{
    height: 5rem !important;
    margin: 2rem;
}
/* #fab{
    height: 6rem;
} */