body {
    background: linear-gradient(to right, rgb(3, 202, 252), greenyellow);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;

}
nav li {
    display: inline;
    float: left;
}
.active {
    background-color: #4CAF50;
    color: white;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: rgb(56, 53, 80);
}