@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Syncopate|Open+Sans');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/images/white.jpg');
     height: 100%; 
      background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
body, html {
    height: 100%;
}

.nav-wrapper {
    width: 100%;
    overflow: hidden;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: fixed; 
    z-index: 100;
    top: 0;
    /* box-shadow: 0px 0px 50px  rgba(53, 71, 65, 0.797); */
    /* box-shadow:8px 8px 50px black;  
    background-size: cover; */
}
.nav-header {
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: .05rem;
    font-size: .8rem;
    padding: 0rem 3rem;
}
.nav-header-item {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    letter-spacing:.07rem;
    padding-right:1rem; 
    font-weight: 500;
}
#nav-header-logo{
    border: solid rgb(0, 0, 0) 1.5px;
    font-size: 1.5em;
    padding: 7px;
    margin: 10px;
}


body {
    background-color: lightgray;
}
.parallax {
    /* The image used */
    background-image: url('/images/landscape.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.scrolled{
    background-color: lightgray;
    transition: 0.3s;
    color: white !important;
    box-shadow: 5px 10px 18px #888888;
    -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.75);
  }

.parallax h4 {
    font-size: 24px;
    color:rgb(255, 255, 255);
    text-align: center;
    line-height: 60px;
    /* font-weight: bold; */
    }
.parallax h1 {
    color: rgba(255, 255, 255);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
    padding-top: 400px;
    }


.introDiv{
    height: 50rem;
}

.introContainer{
    justify-content: center;
    height: 35rem;
    width: 56rem;
    margin:6rem;
    background: linear-gradient(to top left,white, rgb(132, 222, 252),rgb(68, 162, 250));
    box-shadow: 5px 10px 18px #888888;
    -webkit-box-shadow: 0px 0px 60px rgba(0,0,0,0.75);
}
.pageHeaders{
    background:lightgrey;
    font-size: 2em;
    padding: 15px;
}

.active {
    background-color: #4CAF50;
    color: white;
}

nav li a:hover {
    background-color: rgb(56, 53, 80);
}


flexContainer {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}
.projectArticle{
    background-color: rgb(160, 160, 160);
    border-style: solid;
     border-radius: 15px;
     border-color: black;
}
#rightAlign{
    vertical-align: middle;
}
#capstone1logo{
    height:480px;
    width: 480px;
}

.blogNav{
    background-color: rgb(51, 51, 51);
    text-align: center;
    padding: 15px;
}
#projectOverveiw{
    padding: 15px;
}
.userImg{
    height: 100%;
    width: 80%;
    margin: 15px;
    padding: 15px;
}
#blogContainer{
     background-color: gray;
     color: whitesmoke;
     border-style: solid;
     border-radius: 15px;
     border-color: black;
     padding: 15px;
     margin: 15px;
}
.blogP{
    font-size: 1.5em;
}
.aboutMe{
    padding: 2rem 10rem;
    font-size: 1.25em;
}
.paraContainer{
    border-bottom: white solid 2px;
    margin: 0% 30%;
}
.headShot{
    margin-top: 6rem;
    height: 25rem;
}
.rightSide{
    float: right;
}
.introText{
    color: white;
    font-size: 5rem;
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
}
.leftSide{
    margin: 1rem;
}
.startHere{
    justify-content: center;
    height: 3rem;
    width: 6rem;
    background-color: black;
    color: white;
}
.contact{
    color: black;
}
.contactLeft{
    margin-left: 4rem;
}
.allContacts{
    padding-bottom: 30px;
}
.bottomContainer{
    background-color: rgb(37, 37, 37);
    color:  white;
}
/* #fab{
    height: 6rem;
} */