body {
    font-family: "Times New Roman", Times, serif;
}
body, html {
    height: 100%;
}

.nav-wrapper {
    /* background-image: url("/images/sky.jpg"); */
    min-height: 100px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 1.6rem;
    position: fixed; 
    z-index: 100;
    top: 0;
    /* box-shadow: 0px 0px 50px  rgba(53, 71, 65, 0.797); */
    /* box-shadow:8px 8px 50px black;  
    background-size: cover; */
}
.nav-header {
    color: rgb(129, 126, 145);
    text-align: left;
    letter-spacing: .05rem;
    font-size: .8rem;
    padding: 0rem 3rem;
}
.nav-header-item {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    letter-spacing:.07rem;
    padding-right:1rem; 
    font-weight: 500;
}
#nav-header-logo{
    border: solid white 2px;
    font-size: 1.5em;
    padding: 7px;
    margin: 10px;
}


body {
    background-color: lightgray;
}
.parallax {
    /* The image used */
    background-image: url('/images/landscape.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax h4 {
    font-size: 24px;
    color:rgb(255, 255, 255);
    text-align: center;
    line-height: 60px;
    /* font-weight: bold; */
    }
.parallax h1 {
    color: rgba(255, 255, 255);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
    padding-top: 400px;
    }


.introDiv{
    height: 50rem;
}

.introContainer{
    height: 35rem;
    width: 56rem;
    margin:100px;
    background: linear-gradient(to top right,white, rgb(156, 229, 253),rgb(83, 172, 255));
    box-shadow: 5px 10px 18px #888888;
    -webkit-box-shadow: 0px 0px 60px rgba(0,0,0,0.75);
}
.pageHeaders{
    background:lightgrey;
    font-size: 2em;
    padding: 15px;
}

.active {
    background-color: #4CAF50;
    color: white;
}

nav li a:hover {
    background-color: rgb(56, 53, 80);
}


flexContainer {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}
.projectArticle{
    background-color: rgb(160, 160, 160);
    border-style: solid;
     border-radius: 15px;
     border-color: black;
}
#rightAlign{
    vertical-align: middle;
    margin-bottom: -500px;

}
#capstone1logo{
    height:480px;
    width: 480px;
}

.blogNav{
    background-color: rgb(51, 51, 51);
    text-align: center;
    padding: 15px;
}
#projectOverveiw{
    padding: 15px;
}
.userImg{
    height: 100%;
    width: 80%;
    margin: 15px;
    padding: 15px;
}
#blogContainer{
     background-color: gray;
     color: whitesmoke;
     border-style: solid;
     border-radius: 15px;
     border-color: black;
     padding: 15px;
     margin: 15px;
}
.blogP{
    font-size: 1.5em;
}
.aboutMe{
    padding: 2rem 10rem;
    font-size: 1.25em;
}
.paraContainer{
    border-bottom: white solid 2px;
    margin: 0% 30%;
}
