@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Syncopate|Open+Sans');

.box{
    display: flex;
    justify-content: center;
    background-color: blue;
    height: 25rem;
    margin: 2rem;
    box-shadow: 5px 10px 18px #888888;
    -webkit-box-shadow: 0px 0px 60px rgba(0,0,0,0.75);
}

#box1{
    background: linear-gradient(to top left,white, rgb(132, 222, 252),rgb(68, 162, 250)); 
}

#box2{
    background: linear-gradient(to top right,white, rgb(132, 222, 252),rgb(68, 162, 250));
}
.boxHead{
    padding: 1rem;
    color: white;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
.boxText{
    display: flex;
    justify-content: center;
}
.buttonDiv{
    display: flex;
    justify-content: center;
}
.projectButton{
    display: flex;
    justify-content: center;
    width: 20rem;
    margin-top: 5rem;
    background-color: transparent;
    padding: .55rem;
    color: black;
    border: 2px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.projectButton:hover{
    color: white;
    background-color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}